In [1]:
import pandas as pd
import networkx as nx
from dynamobi import sample_graph, filter_test, read_file
from collections import defaultdict

##Â Dynamobi

In [2]:
df_train_full = read_file('data/dynamobi/2008-08-01.txt.gz')
df_test_full = read_file('data/dynamobi/2008-08-02.txt.gz')

Reading file: data/dynamobi/2008-08-01.txt.gz
Droping Duplicates
Reading file: data/dynamobi/2008-08-02.txt.gz
Droping Duplicates

In [3]:
df_train = sample_graph(df_train_full,100000,'random')
df_test = df_test_full #sample_graph(df_test_full,sample_size*test_ratio,sampling,g=G)
g, df_train, df_test = filter_test(df_train, df_test, wcc=False)

Name:
Type: DiGraph
Number of nodes: 184220
Number of edges: 100000
Average in degree:   0.5428
Average out degree:   0.5428

In [4]:
df_train.Source.nunique(),df_train.Target.nunique()

(98201, 86884)

In [5]:
df_test.Source.nunique(),df_test.Target.nunique()

(40750, 12825)

In [6]:
df_train['source_in'] = df_train.Source.apply(g.in_degree)
df_train['source_out'] = df_train.Source.apply(g.out_degree)
df_train['target_in'] = df_train.Target.apply(g.in_degree)
df_train['target_out'] = df_train.Target.apply(g.out_degree)

In [7]:
df_train.describe()

          Class      source_in     source_out      target_in     target_out
count  100000.0  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.0       0.008990       1.036740     184.237920       0.008990
std         0.0       0.095443       0.194398     733.617591       0.097001
min         1.0       0.000000       1.000000       1.000000       0.000000
25%         1.0       0.000000       1.000000       1.000000       0.000000
50%         1.0       0.000000       1.000000       1.000000       0.000000
75%         1.0       0.000000       1.000000       1.000000       0.000000
max         1.0       3.000000       4.000000    3763.000000       2.000000

In [8]:
df_train.groupby('Target').count().nlargest(10,'target_in')

         Date  Source  Class  source_in  source_out  target_in  target_out
Target
5        3763    3763   3763       3763        3763       3763        3763
14       1368    1368   1368       1368        1368       1368        1368
26        935     935    935        935         935        935         935
40        632     632    632        632         632        632         632
212       384     384    384        384         384        384         384
150       381     381    381        381         381        381         381
93        372     372    372        372         372        372         372
7841631   349     349    349        349         349        349         349
122       281     281    281        281         281        281         281
120704    259     259    259        259         259        259         259

In [17]:
df_test['Hub'] = df_test.Target.apply(g.in_degree)
df_train['Hub'] = df_train.Target.apply(g.in_degree)

/afs/crc.nd.edu/user/y/ynavon26/miniconda3/envs/link-prediction/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
df_test.describe()

         Class           Hub
count  58121.0  58121.000000
mean       1.0   1219.782712
std        0.0   1591.494104
min        1.0      0.000000
25%        1.0      2.000000
50%        1.0    268.000000
75%        1.0   3723.000000
max        1.0   3723.000000

In [19]:
df_train.describe()

          Class            Hub
count  100000.0  100000.000000
mean        1.0     183.358500
std         0.0     725.378412
min         1.0       1.000000
25%         1.0       1.000000
50%         1.0       1.000000
75%         1.0       1.000000
max         1.0    3723.000000

In [20]:
len(df_test_full)

9669361

In [22]:
g_test = nx.from_pandas_edgelist(df_test, source='Source', target='Target', create_using=nx.DiGraph())

In [23]:
print(nx.info(g_test))

Name:
Type: DiGraph
Number of nodes: 48477
Number of edges: 58121
Average in degree:   1.1989
Average out degree:   1.1989

In [33]:
stats = defaultdict(lambda: 0)
for i in g_test.out_degree():
    stats[i[1]] += 1

In [34]:
stats

defaultdict(<function __main__.<lambda>()>,
            {1: 29350,
             0: 7596,
             3: 2210,
             4: 677,
             2: 8103,
             5: 276,
             6: 135,
             7: 64,
             11: 7,
             8: 35,
             9: 14,
             10: 7,
             12: 3})